<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Unknown facts</ion-title>
  </ion-navbar>
  
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="value">
      <ion-segment-button value="images">
        Images
      </ion-segment-button>
      <ion-segment-button value="videos">
        Videos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content >

    <div [ngSwitch]="value">


        <ion-list *ngSwitchCase="'images'">
          <ion-item *ngFor="let tt of data">
            <ion-thumbnail item-start>
            <img src="{{tt.image_url}}" #myImage (click)="presentImage(myImage)">      
            </ion-thumbnail>
            <p>{{tt.image_title}}</p>
            <p>{{tt.image_subtitle}}</p>
            <button (click)="presentImage(myImage)" ion-button icon clear item-right>
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
              <button (click)="shareImage(tt.image_url)"  ion-button clear small color="danger" icon-start>
                  <ion-icon name='share-alt'></ion-icon>
                  Share
                </button>
                
          </ion-item>
        </ion-list>


        <ion-list *ngSwitchCase="'videos'">
            <ion-item *ngFor="let tt of dataVideo">
              <ion-thumbnail item-start>
              <img src="{{tt.video_url_logo}}"  />      
              </ion-thumbnail>
              <p>{{tt.video_title}}</p>
              <p>{{tt.video_subtitle}}</p>
              <button (click)="PlayVideo(tt.video_id)" ion-button icon clear item-right>
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>
                <button (click)="share(tt.video_id)"  ion-button clear small color="danger" icon-start>
                    <ion-icon name='share-alt'></ion-icon>
                    Share
                  </button>
                  
            </ion-item>
          </ion-list>
  
    </div>

   
</ion-content>
