<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LearnGuroo</ion-title>
  </ion-navbar>
  <ion-toolbar color="lightdark">
    <!-- <ion-searchbar>
 
    </ion-searchbar> -->
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card  (click)="pageNavigation('techtutorial')">
        <img src="assets/imgs/techTipBkg.jpg"/>
        <div class="card-title">Tech Tutorial</div>
        <div class="card-subtitle">Guide</div>
      </ion-card>
      <ion-card>
        <img src="assets/imgs/card-madison.png"/>
        <div class="card-title">Entertainment</div>
        <!-- <div class="card-subtitle">Media</div> -->
        <div class="card-subtitle">Coming soon</div>
      </ion-card>
    <ion-card (click)="trigerIntersAds()">
        <img src="assets/imgs/healthTipBkg.jpg"/>
        <div class="card-title">Health Urgent</div>
        <!-- <div class="card-subtitle">Tips</div> -->
        <div class="card-subtitle">Coming soon</div>  
      </ion-card>
      <ion-card>
        <img src="assets/imgs/studyTipbkg.jpg"/>
        <div class="card-title">Study</div>
        <!-- <div class="card-subtitle">Tricks / Formulas</div> -->
        <!-- <br> -->
        <div class="card-subtitle">Coming soon</div>
      </ion-card>
      <!-- <ion-fab right bottom>
          <button ion-fab mini><ion-icon name="add"></ion-icon></button>
          <ion-fab-list side="top">
            <button ion-fab><ion-icon name="videocam"></ion-icon></button>
            <button ion-fab><ion-icon name="images"></ion-icon></button>
          </ion-fab-list>
        </ion-fab> -->
</ion-content>