<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tech Tutorial</ion-title>
  </ion-navbar>
  <ion-toolbar color="lightdark">
    <!-- <ion-searchbar>

    </ion-searchbar> -->
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-card *ngFor="let tt of techTutorialArray">

    <img src="{{tt.image_url}}" />

    <ion-card-content>
 
    
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button (click)="PlayVideo(tt.video_id)" ion-button clear small color="danger" icon-start>
          <ion-icon name='play'></ion-icon>
          Play
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <!-- <ion-icon name='musical-notes'></ion-icon> -->
          
        </button>
      </ion-col>
      <ion-col text-right>
        <button (click)="share(tt.video_id)" ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
</ion-card> 
    
</ion-content>
